tags = {
    ENVIRONMENT           = "PRODUCTION"
    ENVIRONMENT_LANDSCAPE = "PRODUCTION"
    OWNER                 = "JBLOGGS@EXAMPLE.COM"
    PROJECT               = "CFG-MGMT"
    SERVICE               = "CI-CD"
    COST_CENTRE           = "11223344"
    BUSINESS              = "TECHNOLOGY"
    AUTOMATION            = "Created with Terraform"
}
